@{
    ViewData["Title"] = "Register";
}
<section class="h-full pt-[140px]">
    <div class="w-96 rounded-3xl bg-white p-8  m-auto">
        <h1 class="mb-8 text-center text-3xl font-bold">Register</h1>
        <div class="flex flex-col gap-4">
            <input placeholder="Email" class="w-full rounded-xl bg-slate-50 p-3 px-4 placeholder:font-light focus:outline-black"
                type="text" />

            <input placeholder="Password" class="w-full rounded-xl bg-slate-50 p-3 px-4 placeholder:font-ligh focus:outline-blackt"
                type="password" />

            <input placeholder="Confirm password" class="w-full rounded-xl bg-slate-50 p-3 px-4 placeholder:font-light focus:outline-black"
                type="password" />

            <button class="mt-2 w-full rounded-xl bg-black/90 p-3 text-white">Register</button>
        </div>
        <div class="mt-2 flex gap-1">
            <span>Already have an account? </span>
            <a href="/auth/login" class="text-blue-500 cursor-pointer">Login</a>
        </div>
    </div>
</section>
