@using Microsoft.AspNetCore.Identity
@using DistLab2.Core.Interfaces
@inject IUserService userService
@{
    bool isAdmin = await userService.IsAdmin();
    bool isAuthenticated = userService.IsAuthenticated();
    var user = userService.GetCurrnetUser();


}
@if (isAuthenticated && !isAdmin)
{
    <div class="flex gap-4">
    <a asp-controller="Auction" asp-action="Index">Auctions</a>
    <form asp-controller="Auction" asp-action="MyAuctions" method="get">
        <input type="hidden" name="email" value="@user.Email">
        <button type="submit">My Auctions</button>
    </form>
    <a asp-controller="Auction" asp-action="AuctionUserBidIn">Attended auctions</a>
    <a asp-controller="Auction" asp-action="AuctionUserWon">Winning auctions</a>

</div>
}

@if (isAuthenticated && isAdmin)
{
    <div class="flex gap-4">
    <a asp-controller="Admin" asp-action="Index">Dashboard</a>
</div>
}
