@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  color: #333333;
}

a {
  color: #333333 !important;
}


.grid-parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.grid-side {
  grid-area: 1 / 1 / 7 / 3;
  border: 0.5px solid #c7c7c7;
}

.grid-head {
  grid-area: 1 / 3 / 3 / 6;
  border: 0.5px solid #c7c7c7;
}

.grid-body {
  grid-area: 3 / 3 / 7 / 6;
  border: 0.5px solid #c7c7c7;
}