@{
  ViewData["Title"] = "Auction Details";
}
<div class="py-4 h-[85vh]">
  <div class="grid-parent h-full">
    <div class="grid-side rounded-3xl bg-white p-8">
      <img src="https://mynewart.se/wp-content/uploads/2016/06/Mona-Lisa.jpg" alt="" class="mb-4 h-1/2 w-full rounded-xl object-cover object-top" />
      <div class="mb-2 flex items-center gap-3">
        <h1 class="text-3xl font-bold">Mona Lisa</h1>
        <svg class="cursor-pointer" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 17.46V20.5C3 20.78 3.22 21 3.5 21H6.54C6.67 21 6.8 20.95 6.89 20.85L17.81 9.94L14.06 6.19L3.15 17.1C3.05 17.2 3 17.32 3 17.46ZM20.71 7.04C20.8027 6.94749 20.8762 6.8376 20.9264 6.71663C20.9766 6.59565 21.0024 6.46597 21.0024 6.335C21.0024 6.20403 20.9766 6.07435 20.9264 5.95338C20.8762 5.83241 20.8027 5.72252 20.71 5.63L18.37 3.29C18.2775 3.1973 18.1676 3.12375 18.0466 3.07357C17.9257 3.02339 17.796 2.99756 17.665 2.99756C17.534 2.99756 17.4043 3.02339 17.2834 3.07357C17.1624 3.12375 17.0525 3.1973 16.96 3.29L15.13 5.12L18.88 8.87L20.71 7.04Z" fill="#626262" />
        </svg>
      </div>
      <p>Painting, the expression of ideas and emotions, with the creation of certain aesthetic qualities, in a two-dimensional visual language. The elements of this language, its shapes, lines, colours, tones, and texture are used in various ways to produce sensations of volume, space, movement, and light on</p>
    </div>
    <div class="grid-head flex flex-col justify-between rounded-3xl bg-white p-8">
      <div class="flex items-start justify-between">
        <div class="flex items-start gap-3">
          <div>
            <h1 class="text-3xl font-bold">Mona Lisa</h1>
            <p class="text-sm text-black/50">hamada@gmail.com</p>
          </div>
          <span class="mt-2 rounded-xl bg-green-200 px-3 py-1 text-[12px]">14 Bids</span>
        </div>
        <svg class="cursor-pointer" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V7H6V19ZM19 4H15.5L14.5 3H9.5L8.5 4H5V6H19V4Z" fill="#626262" />
        </svg>
      </div>

      <div class="flex items-center justify-start gap-20">
        <div>
          <p class="text-sm text-black/60">Start price</p>
          <h3 class="text-3xl font-bold">$330</h3>
        </div>
        <div>
          <p class="text-sm text-black/60">Bids Made</p>
          <h3 class="text-3xl font-bold">14</h3>
        </div>
        <div>
          <p class="text-sm text-black/60">Highest Bid</p>
          <h3 class="text-3xl font-bold">$1330</h3>
        </div>
        <div>
          <p class="text-sm text-black/60">Time left</p>
          <h3 class="text-3xl font-bold">3d</h3>
        </div>
      </div>
    </div>
    <div class="grid-body rounded-3xl bg-white p-8">
      <h1 class="mb-3 text-3xl font-bold">Bids</h1>
      <div class="flex flex-col">
        <div class="mb-1 flex justify-between border-b-[0.5px] py-3">
          <div class="flex items-end gap-2">
            <h3>User 1</h3>
            <p class="text-[10px] text-black/50">2023-11-10 22:32</p>
          </div>
          <p>$1300</p>
        </div>
        <div class="mb-1 flex justify-between border-b-[0.5px] py-3">
          <div class="flex items-end gap-2">
            <h3>User 1</h3>
            <p class="text-[10px] text-black/50">2023-11-10 22:32</p>
          </div>
          <p>$1300</p>
        </div>
        <div class="mb-1 flex justify-between border-b-[0.5px] py-3">
          <div class="flex items-end gap-2">
            <h3>User 1</h3>
            <p class="text-[10px] text-black/50">2023-11-10 22:32</p>
          </div>
          <p>$1300</p>
        </div>
        <div class="mb-1 flex justify-between border-b-[0.5px] py-3">
          <div class="flex items-end gap-2">
            <h3>User 1</h3>
            <p class="text-[10px] text-black/50">2023-11-10 22:32</p>
          </div>
          <p>$1300</p>
        </div>
      </div>
    </div>
  </div>
</div>